<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>{% block title %}{% endblock %} - Hire an Iida</title>
</head>

<body>
    <header>
        <ul id="menu-top-bar" class="nav navbar-nav">
            <li class="menu-item nav-item"><a href="{{ url_for('home') }}"><span>PACKAGE STUFF</span></a></li>
            <li class="menu-item nav-item"><a href="{{ url_for('cv') }}"><span>CV</span></a></li>
            <li class="menu-item nav-item"><a href="{{ url_for('cover_letter') }}"><span>COVER LETTER</span></a></li>
        </ul>
    </header>
    {% block content %}
    
    {% endblock %}
    <footer>
        {% block footer %}
        &copy; 2020 by Iida Louhikoski.
        {% endblock %}
    </footer>
    {% block myjs %}
    
    {% endblock %}
</body>

</html>