{% extends "base.html" %}
{% block title %}Cover letter{% endblock %}
{% block content %}
<h1>Cover letter</h1>
<section class="letter">
    <h2>Hi!</h2>
    <p>First of all, you don't have to hire me; I would feel really bad, if I coarsed you too much. &#128549;</p>
    <p>
        Seriously though, I like what you put out.
        I want to start my dev career somewhere, and Reaktor seems a great choice.
        Visited you once last year for a Mimmit Koodaa event in Helsinki. Very nice office.
        I appreciate the fact that Reaktor is owned by employees and alumnis.
        The human-centered approach draws me in, as I am a human.
    </p>
    <p>
        My background is in statistics and mathematics. Programming has been a part of that journey.
        Data analysis is <em>okay</em>, but not a passion. I feel the need to be the one making something concrete-ish. 
        After getting the courage to resign, I have dedicated my time to really learning web development.
        And it just clicks.
    </p>
    <p>
        Technically computers are still a bit mysterious to me, as I did not grow up with one.
        My real background is living in a farm in the middle of nowhere.
  
    </p>
    <b>What makes me a good coworker; the list</b>
    <ul>
        <li>I talk about life and make people feel welcome</li>
        <li>Eventhough I am goofy, I am also tactful</li>
        &rarr; I can read the room. Heyooo, social skills.
        <li>I work! And ask for help, if needed</li>
        <li>I put my team/community first, so I share my knowledge, too</li>
    </ul>

    <p>
        Already feels like rambling, but hopefully I can tell more about me in an interview.
    </p>
    <p>
        Kuulemisiin, <br/>
        &nbsp;&nbsp;<em>Iida</em>
    </p>

</section>
<br />
<p class="quote">"Parempi mennä perse eellä puuhun, ku kököttää puun juurella."</p>

{% endblock %}